{% extends 'app/base.html' %}
{% load static %}
{% block title %}PasswordChangedone{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome</h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary ">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password Changed Successfully</h3>
        <div class="embed-responsive embed-responsive-1by1">
        <iframe class="embed-responsive-item" src="https://giphy.com/embed/p1N6HTw0vkZrXa4Lnn"></iframe>
        </div>
  </div>
 </div>
</div>
{% endblock main-content %}